## Homework 05 - Instructions

![](https://github.com/rpi-techfundamentals/hm-01-starter/blob/master/notsaved.png?raw=1)

**WARNING!!!  If you see this icon on the top of your COLAB sesssion, your work is not saved automatically.**


**When you are working on homeworks, make sure that you save often. You may find it easier to save intermident copies in Google drive. If you save your working file in Google drive all changes will be saved as you work. MAKE SURE that your final version is saved to GitHub.** 

Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment graded from answers to questions and automated tests that should be run at the bottom. Be sure to clearly label all of your answers and commit final tests at the end.

In [1]:
files = "https://github.com/rpi-techfundamentals/hm-05-starter/raw/master/files.zip" 
!rm -rf * && pip install git+https://github.com/data-8/Gofer-Grader && wget $files && unzip -o files.zip

Collecting git+https://github.com/data-8/Gofer-Grader
  Cloning https://github.com/data-8/Gofer-Grader to /tmp/pip-req-build-2v84jnpk
  Running command git clone -q https://github.com/data-8/Gofer-Grader /tmp/pip-req-build-2v84jnpk
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from gofer-grader==1.0.9) (2.10.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from gofer-grader==1.0.9) (2.1.3)
Requirement already satisfied: tornado in /usr/local/lib/python3.6/dist-packages (from gofer-grader==1.0.9) (4.5.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->gofer-grader==1.0.9) (1.1.1)
Building wheels for collected packages: gofer-grader
  Building wheel for gofer-grader (setup.py) ... done
  Created wheel for gofer-grader: filename=gofer_grader-1.0.9-cp36-none-any.whl size=10115 sha256=92db2d75c0fb30a69bcd13fa6af27a0fc26e731f4f59a537ee7716c56e77eb80
  Stored in directory: /tmp/pip-ephem-wheel-cache-e3jqxasq/wheels/9e/62/24/8563ae039051d6ba979557d1766bfebbda5dd08f8572e3e35d
Successfully built gofer-grader
Installing collected packages: gofer-grader
Successfully installed gofer-grader-1.0.9
--2019-10-03 19:46:44--  https://github.com/rpi-techfundamentals/hm-05-starter/raw/master/files.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rpi-techfundamentals/hm-05-starter/master/files.zip [following]
--2019-10-03 19:46:44--  https://raw.githubusercontent.com/rpi-techfundamentals/hm-05-starter/master/files.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48906 (48K) [application/zip]
Saving to: ‘files.zip’

files.zip           100%[===================>]  47.76K  --.-KB/s    in 0.01s

2019-10-03 19:46:44 (3.29 MB/s) - ‘files.zip’ saved [48906/48906]

Archive:  files.zip
  inflating: train-new.csv
  inflating: test-new.csv
   creating: tests/
  inflating: tests/q01.py
  inflating: tests/q05.py
 extracting: tests/__init__.py
  inflating: tests/q03.py
  inflating: tests/q02.py
  inflating: tests/q06.py
   creating: tests/.ipynb_checkpoints/
  inflating: hm.ok

In [0]:
#Run this. It initiates autograding. 
from client.api.notebook import Notebook
ok = Notebook('lab.ok')
_ = ok.auth(inline=True)

### Load Data
We have our titanic dataset that is a bit different from what we have had previously. Load the train-new.csv and test-new.csv into dataframes train and test.

In [0]:
# Load the data here
# from google.colab import files
import numpy as np 
import pandas as pd 
train = pd.read_csv("train-new.csv")
test  = pd.read_csv("test-new.csv")

In [0]:
# from google.colab import files
# files.download('train-new.csv')

In [0]:
# files.download('test-new.csv')

In [0]:
# train.head()

In [0]:
# test.head()

## Question 1
(1) Investigate the data a little bit. What is different from some of the titanic datasets we have used in the past? (For example, compare against the data in the Kaggle Baseline notebook).

In [0]:
man1="""
Two new columns "Title" and "family size" are added into the new train and test data files..
"""

# Generating Dummy Variables
Before we do analysis of the titanic dataset, we have to select out our features, for the train and the test set, which we shall label `X_train`, and `X_test`.

As a part of this we need to generate `n-1` dummy variables for each one of our categorical columns.  The resulting dataframes should be all numeric and have all of these columns below (in the correct order).

Follow the example above to generate a new value for `X` utilizing all the data.
```
['Age', 'SibSp', 'Parch', 'Fare', 'family_size', 'Pclass_2', 'Pclass_3', 'Sex_male', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_H', 'Embarked_Q', 'Embarked_S']

```
*Hint, try: 
`help(pd.get_dummies)`* 

You should also set `y` to the Survived column.

In [0]:
# help(pd.get_dummies)

In [0]:
#Answer Here 
testfeatures = test[['Age', 'SibSp', 'Parch', 'Fare', 'family_size', 'Pclass', 'Sex', 'Cabin', 'Embarked']]
X_test=pd.get_dummies(testfeatures, columns=['Pclass', 'Sex', 'Cabin', 'Embarked'], drop_first=True)
X_test

trainfeatures = train[['Age', 'SibSp', 'Parch', 'Fare', 'family_size', 'Pclass', 'Sex', 'Cabin', 'Embarked']]
X_train=pd.get_dummies(trainfeatures, columns=['Pclass', 'Sex', 'Cabin', 'Embarked'], drop_first=True)
X_train

y = train['Survived']

In [10]:
_ = ok.grade('q01')

## Split Training Set For Cross Validation
(2.) We want to split up our training set `X` so that we can do some cross validation. Specifically, we will start to use the term validation set for the set we will use to validate our model. 

In doing so below, use the tsklearn methods to do a train test (i.e., validation) split.  

From X y dataframe, generate the following dataframes by drawing the data **randomly**  from the train dataframe 80% of the data in train and 20% of the data in test.  So that you get repeatable results, set the `random_state=100`. This will set a "seed" so that your random selection will be the same as mine and you will pass the internal tests. 

train_X, val_X, train_y, val_y

In [0]:
#Answer Here

from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X_train, y,train_size=0.8,test_size=0.2,random_state=100)

In [12]:
_ = ok.grade('q02')

In [13]:
# X_train.shape, train_X.shape, train_y.shape, val_X.shape, val_y.shape,

((891, 17), (712, 17), (712,), (179, 17), (179,))

In [14]:
# train_y

408    0
480    0
510    1
609    1
547    1
709    1
152    0
493    0
392    0
823    1
576    1
772    0
744    1
327    1
459    0
221    0
850    0
557    0
46     0
448    1
370    1
195    1
760    0
54     0
572    1
378    0
197    0
395    0
110    0
137    0
      ..
612    1
723    0
757    0
141    1
415    0
667    0
386    0
86     0
93     0
649    1
507    1
570    1
316    1
228    0
655    0
280    0
752    0
802    1
526    1
738    0
578    0
53     1
866    1
350    0
79     1
855    1
871    1
835    1
792    0
520    1
Name: Survived, Length: 712, dtype: int64

In [15]:
val_X

           Age  SibSp  Parch  ...  Cabin_H  Embarked_Q  Embarked_S
205   2.000000      0      1  ...        0           0           1
44   19.000000      0      0  ...        1           1           0
821  27.000000      0      0  ...        1           0           1
458  50.000000      0      0  ...        1           0           1
795  39.000000      0      0  ...        1           0           1
118  24.000000      0      1  ...        0           0           0
424  18.000000      1      1  ...        1           0           1
678  43.000000      1      6  ...        1           0           1
269  35.000000      0      0  ...        0           0           1
229   9.080526      3      1  ...        1           0           1
689  15.000000      0      1  ...        0           0           1
320  22.000000      0      0  ...        1           0           1
405  34.000000      1      0  ...        1           0           1
40   40.000000      1      0  ...        1           0           1
24    8.000000      3      1  ...        1           0           1
553  22.000000      0      0  ...        1           0           0
412  33.000000      1      0  ...        0           1           0
512  36.000000      0      0  ...        0           0           1
755   0.670000      1      1  ...        1           0           1
391  21.000000      0      0  ...        1           0           1
601  27.431818      0      0  ...        1           0           1
325  36.000000      0      0  ...        0           0           0
372  19.000000      0      0  ...        1           0           1
376  22.000000      0      0  ...        1           0           1
200  28.000000      0      0  ...        1           0           1
511  27.431818      0      0  ...        1           0           1
600  24.000000      2      1  ...        1           0           1
630  80.000000      0      0  ...        0           0           1
363  35.000000      0      0  ...        1           0           1
143  19.000000      0      0  ...        1           1           0
..         ...    ...    ...  ...      ...         ...         ...
381   1.000000      0      2  ...        1           0           0
702  18.000000      0      1  ...        1           0           0
622  20.000000      1      1  ...        1           0           0
25   38.000000      1      5  ...        1           0           1
518  36.000000      1      0  ...        1           0           1
637  31.000000      1      1  ...        1           0           1
359  27.431818      0      0  ...        1           1           0
735  28.500000      0      0  ...        1           0           1
100  28.000000      0      0  ...        1           0           1
164   1.000000      4      1  ...        1           0           1
590  35.000000      0      0  ...        1           0           1
10    4.000000      1      1  ...        0           0           1
216  27.000000      0      0  ...        1           0           1
733  23.000000      0      0  ...        1           0           1
384  27.431818      0      0  ...        1           0           1
853  16.000000      0      1  ...        0           0           1
859  27.431818      0      0  ...        1           0           0
358  27.431818      0      0  ...        1           1           0
447  34.000000      0      0  ...        1           0           1
213  30.000000      0      0  ...        1           0           1
651  18.000000      0      1  ...        1           0           1
191  19.000000      0      0  ...        1           0           1
56   21.000000      0      0  ...        1           0           1
867  31.000000      0      0  ...        0           0           1
530   2.000000      1      1  ...        1           0           1
247  24.000000      0      2  ...        1           0           1
259  50.000000      0      1  ...        1           0           1
353  25.000000      1      0  ...        1           0           1
783  21.036000      1      2  ...        1           0           1
852   9.000000      1      1  ...        1           0           0

[179 rows x 17 columns]

### Perform Nearest Neighbor Classification (KNeighborsClassifier)
(3.) Using the default options (i.e., all default hyperparameters), perform nearest neighbor classification. Calculate the accuracy measure using `metrics.accuracy_score`.

Train your model using the training data and access the accuracy of both the training and validation data.

*Note: You only train the model once...on the training data. You then assess the performance on both the training and validation data.*

Assign the following variables:

`knn0_train_y` = The KNN prediction for the `train_X` data. 

`knn0_val_y`   = The KNN prediction for the `val_X` data. 

`knn0_train_accuracy` = The accuracy for the `knn0_train_y` prediction. 

`knn0_val_accuracy` = The accuracy for the `knn0_val_y` prediction.

In [0]:
#Answer Here 

from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(train_X, train_y)

from sklearn import metrics
knn0_train_y = classifier.predict(train_X)
knn0_val_y = classifier.predict(val_X)

# knn0_train_y.shape  #(712,)
# knn0_val_y.shape   #(179,)

knn0_train_accuracy = metrics.accuracy_score(train_y,knn0_train_y)
# knn0_train_accuracy #0.8061797752808989

knn0_val_accuracy = metrics.accuracy_score(val_y,knn0_val_y)
# knn0_val_accuracy  #0.6759776536312849

In [20]:
_ = ok.grade('q03')

### Confusion Matrix
We can utilize a confusion matrix to be able to understand misclassifications a bit more. This will give us a full idea of the true positives, true negatives, false positives, and false negatives.  

See the documentation [here](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html). 

You can utilize the syntax below to generate knn_mat1_train and knn_mat1_test.  
```
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true, y_pred)
```
**(4.)  Explain what each of the four quadrants of the confusion matrix means. **

In [0]:
#Answer here
man4= """
f11 (True Positive): The model correctly predicts the outcome to be a positive class (y is True). 
f10 (False Positive): The model incorrectly predicts the outcome to be a positive class when y is actually a nagative class.
f01 (False Negative): The model incorrectly predicts the outcome to be a negative class when y is actually a positive class.
f00 (True Negative): The model correctly predicts the outcome to be a negative class (y is False). 

"""

### Create Confusion Matrix for the Training and Validation Predictions
(5) Create a confusion matrix for each of the training and valiation predictions. 
`knn0_con_train` A confusion matrix for the training data.  
`knn0_con_val` A confusion matrix for the validation data.

In [0]:
#Answers 

from sklearn.metrics import confusion_matrix

knn0_con_train = confusion_matrix(train_y, knn0_train_y)
knn0_con_val = confusion_matrix(val_y, knn0_val_y)

In [31]:
_ = ok.grade('q05')

## Hyperparameter Tuning

(6) You created a single model using the default parameters.  However, we want to adjust the parameters to try and improve the model.  

Examine the documentation on KNN and see some of the different parameters that you can adjust. 

[Scikit Learn Documentation](http://scikit-learn.org/stable/supervised_learning.html#supervised-learning).

Assign the following variables:

`knn1_train_y` = The KNN prediction for the `train_X` datafor your improved model. 

`knn1_val_y`   = The KNN prediction for the `val_X` data for your improved model. 

`knn1_train_accuracy` = The accuracy for the `knn1_train_y` prediction. 

`knn1_val_accuracy` = The accuracy for the `knn1_val_y` prediction.

In [25]:
#Answers

classifier1 = KNeighborsClassifier(n_neighbors=3, algorithm='ball_tree')

classifier1.fit(train_X, train_y)

knn1_train_y = classifier1.predict(train_X)

knn1_val_y = classifier1.predict(val_X)

knn1_train_accuracy = metrics.accuracy_score(train_y,knn1_train_y)
# # knn0_train_accuracy #0.8061797752808989

knn1_val_accuracy = metrics.accuracy_score(val_y,knn1_val_y)
# # knn0_val_accuracy  #0.6759776536312849

# knn1_train_y 
# knn1_train_y
# knn1_train_accuracy
knn1_val_accuracy

0.7094972067039106

In [26]:
_ = ok.grade('q06')

### Other Models

(7.) Test Logistic regression and 1 other algorithms/models (your choice).  Provide a summary of the best performance below. 

Use any of the available classification models. You should show and comment code

[Scikit Learn Documentation](http://scikit-learn.org/stable/supervised_learning.html#supervised-learning).

*Make sure your clearly indicate the accuracy of the Logistic regression model your other model. Assess which model worked best considering all your efforts.*

In [0]:
#Answer here
man7= """
If we use the logistic regression model with default hyperparameters, the prediction accuracy for train_X data is 0.8287 and the accuracy for val_X data is 0.8101.
If we use the random forest model with default hyperparameters, the prediction accuracy for train_X data is 0.7977 and the accuracy for val_X data is 0.8043.
The logistic regression can make better predictions according to the higher accuracies for val_X data.
Below is the calculation process of accuracies for the two algorithms. 

#Logistic regression model

from sklearn.linear_model import LogisticRegression
classifier3 = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(train_X, train_y)
classifier3.score(train_X, train_y), classifier3.score(val_X, val_y)  #(0.8286516853932584, 0.8100558659217877)

#Random Forest model

from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

classifier4 = RandomForestClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)
cross_val_score(classifier4, train_X, train_y, cv=5).mean(), cross_val_score(classifier4, val_X, val_y, cv=5).mean()       #(0.7977149610952428, 0.8042857142857143)
"""

In [0]:
# # #Logistic regression model

# from sklearn.linear_model import LogisticRegression
# classifier3 = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(train_X, train_y)
# classifier3.score(train_X, train_y), classifier3.score(val_X, val_y)  #(0.8286516853932584, 0.8100558659217877)

In [0]:
# #Random Forest model

# from sklearn.model_selection import cross_val_score
# from sklearn.ensemble import RandomForestClassifier

# classifier4 = RandomForestClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)
# cross_val_score(classifier4, train_X, train_y, cv=5).mean(), cross_val_score(classifier4, val_X, val_y, cv=5).mean()

In [30]:
#This runs all tests. 
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]